/**/
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@import "../css/grid.css";
@import "../css/superfish.css";

input {
	outline:  none !important;
}

html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	/**font: 13px/19px  Arial, Helvetica, sans-serif;**/
	position:relative;
	min-width:960px;
	background:  #FFFFFF;


}

.ic, .ic a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Pathway Gothic One', sans-serif;
}

h3 {
	font-size: 38px;
	line-height: 44px;
	color: #263555;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.page1 h3 {
	padding-top: 62px;
	margin-bottom: 54px;
}

h4 {
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	font-family: 'Open Sans Condensed', sans-serif;
	/*color: #fff;*/
	text-transform: uppercase;
	padding-top: 33px;
	margin-bottom: 8px;
}


p {
	margin-bottom: 19px;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list li{
	padding-left: 35px;
	background: url(../images/marker.png) 0 3px no-repeat;
	color: #263555;
		font-size: 16px;
	line-height: 22.8px;

}

/*header*/

header {
	display: block;
	position: relative;
	z-index: 999;
	padding-bottom: 105px;
}

header a:hover {
	color: #000;
}

header h1 {
	position: absolute;
	float: none;
	width: 167px;
	top: 31px;
	left: 50%;
	margin-left: -84px;
	height: 168px;
	z-index: 999;

}
header h1 a {
	display: block;
	overflow: hidden;
	
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

header h1 a img {
	display: block;	
}

.main {
	background: #fff;
	width: 1270px;
	margin: 0 auto;
}
.boxes {
	margin-bottom: 70px;
}

.boxes>div {
	position: relative;
}

.boxes figure figcaption{
	background-color: #58ab77;
	position: absolute;
	top: 0;
	font-size: 13px;
	line-height: 19px;
	color: #cbc6c6;
	text-align: left;
	left: 0;
	height: 100%;
	width: 183px;
	padding: 0 11px;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	-o-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
			 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

figcaption h3 {
	color: #ffffff;
	text-align: center;
	padding-top: 18px !important;
	font-size: 38px;
	margin-bottom: 18px !important;
	font-family: 'Open Sans Condensed', sans-serif;

}

figcaption a.btn {
	display: block;
	float: right;
	margin-top: 36px;
	margin-right: 4px;
}

.boxes {
	margin-bottom: 70px;
}


.boxes figure div {
	overflow: hidden;
}

.boxes figure {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	-ms-perspective: 1700px;
	-o-perspective: 1700px;
	 perspective: 1700px;
    
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    -ms-perspective-origin: 0 50%;
    -o-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
	background-color: #193149;
}


.boxes a.btn {
	box-shadow: none;
}

.boxes figure img {
	position: relative;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.boxes figure:hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.boxes figure:hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	-o-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

